h2
{
  margin-top: 35px;
  padding-bottom: 0;
  font-size: 1.8em;
  /* render an item or not */
  /* display: none;  */
  margin-left: 30px;
}
#tabs
{
  display: flex;
  margin: 10vh 10vw 0 10vw;
}
#dishes
{
  display: flex;
  margin: 0vh 10vw 0 10vw;
  padding-top: 80px;
  border: 1px solid #aaa;
  border-top: none;
}
.meal
{
  flex-grow: 1;
  background-color: white;
  width: auto;
  border: 1px solid black;
  background-color: #EAECEF;
}
#lunchfoods, #dinnerfoods, #desserts
{
  display: none;
}
img
{
  max-height: 50%;
  width: 80%;
  object-fit: cover;
  display: block;
  margin: auto;
}

#image, .menu
{
  flex-grow: 1;
  width: auto;
  max-width: 50%;
}
.active
{
  background-color: white;
  border-bottom: none;
}
